<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>local.vnc-tailnet-only</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>-c</string>
		<string>/sbin/pfctl -a com.apple/250.vnc-tailnet-only -f /etc/pf.anchors/vnc-tailnet-only &amp;&amp; /sbin/pfctl -E</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
